* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  /*  CUSTOM FONTS */
  
  @font-face {
    font-family: "marioFont";
    src: url("customFonts/marioFont.ttf");
  }
  
  @font-face {
    font-family: "retroFont";
    src: url("customFonts/retroGamingFont.ttf");
  }

  @font-face {
    font-family: "marioImages";
    src: url("customFonts/marioImages.ttf");
  }
  
  
  /* NAVBAR STYLING */
  
  nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 4px solid black;
    width: 100%;
    margin-top: 15px;
  }

  nav > * {
    margin-right: 50px; /* Adjust the margin value as needed */
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left img {
    height: 30px;
    margin-right: 10px;
  }
  
  .navbar-left h1 {
    margin: 0;
  }
  
  .navbar-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .navbar-right ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .navbarMarioFont {
    font-family: "marioFont", sans-serif;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 29px;
  }
  
  
  .homeTabFont, .aboutMeFont {
    font-family: "retroFont", sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
    font-size: 25px;
  }
  
  
  .navbarCenterFont{
    font-family: "marioImages", sans-serif;
    font-size: 35px;
  }

/* ANIMATIONS FOR NAVBAR LINKS */

.homeTabFont:hover, .aboutMeFont:hover{
    color: #E61A23; 
    transition: color 0.3s ease-in-out;
  }

  
/* STYLES FOR LANDING PAGE */

/* HERO SECTION STYLES */

/* .image-section {
    position: relative;
  } */
  
  .image {
    width: 100%;
    height: 700px;
    background: url("images/marioMainImage.jpeg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    filter: grayscale(40%);
  }
  
  .content {
    position: absolute;
    bottom: 5%;
    left: 5%;
    transform: translate(-5%, -5%);
  }
  
  .text-section {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.3em 0.5em;
    border-radius: 8px;
  }
  
  .heroTitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.1em;
    letter-spacing: -0.03em;
    color: white;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.5);
    margin: 0;
  }
  
  .marioLink {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.5);
  }
  
  .marioLink:hover {
    color: #E61A23;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
  }
  .heroParagraph {
    font-size: 1.2rem;
    color: white;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    width: 60%;
    
    height: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    line-height: 20px;
  }

/* FLEXBOX SECTION STYLES */

.flexBoxTitle {
    font-family: "marioFont", sans-serif;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 35px;
    text-align: center;
    color: #E61A23;
    letter-spacing: 1px;
    font-weight: bold;
  }
    
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; /* Align items to start vertically */
    padding-top: 15px;
    padding-left: 15px;
  }
  
  .blog-post {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items to center horizontally */
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .blog-image {
    width: 100%;
    height: auto;
    max-height: 200px; /* Set a maximum height for the images */
    margin-bottom: 10px;
  }
  
  .blog-image img {
    width: auto;
    height: 100%;
    object-fit: contain; /* Use "contain" instead of "cover" to preserve aspect ratio */
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .blog-date {
    margin-top: 10px;
    font-size: 14px;
    color: #141414;
    text-align: left;
    line-height: 18px;
    font-family: "retroFont", sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  .blog-title {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    font-family: "retroFont", sans-serif;
    font-size: 24px;
    line-height: 108.2%;
    color: #141414;
    text-align: center;
  }
  
  .blog-paragraph {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #505050;
  }
  
  .blog-title a {
    color: #000000;
    text-decoration: none;
  }
  
  .blog-title a:hover {
    color: #E61A23;
    /* Add any additional hover styles you want */
  }
  
/* Footer Styles */
footer {
    border-top: 4px solid black;
    background-color: #333; /* Update the background color to a darker shade */
    padding: 20px;
    text-align: center;
    color: #fff; /* Set the text color to white */
  }
  
  
.footer-content {
    display: flex;
    flex-direction: column; /* Change the layout to column */
    align-items: center;
  }
  
  .footer-image {
    width: 100%;
    max-width: 450px;
    border-radius: 4px;
    margin-bottom: 20px;
    filter: grayscale(10%);
    transition: filter 0.3s; /* Add transition for smooth effect */
  }
  
 
.footer-paragraph {
    font-size: 1rem;
    color: #fff;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-family: "retroFont", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow with an offset of 2px horizontally and vertically, blur radius of 4px, and opacity of 0.5 */

}
  
  .footer-bottom {
    margin-top: 10px;
  }
  
  .footer-bottom-text {
    font-size: 0.8rem; /* Use rem units for responsive font size */
    color: #999;
  }
  
  
  
  /* MOBILE FRIENDLY CSS TO MAKE RESPONSIVE */
  @media (max-width: 767px) {
    .navbar-middle,
    .navbar-left {
      display: none;
    }

    .navbar-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Center the items */
        margin-top: 10px;
      }
    
    .navbar-right ul li {
      margin-bottom: 10px;
    }
  }
  
  /* MOBILE FRIENDLY STYLES FOR FLEXBOX SECTION */
  @media (max-width: 1024px) {
    .flex-container {
      justify-content: center;
    }
    
    .blog-post {
      width: calc(50% - 20px);
      align-items: center;
      text-align: center;
    }
    
    .blog-image {
      width: 80%; /* Adjust the width as needed */
      margin: 0 auto;
    }

  
    .blog-date,
    .blog-title,
    .blog-paragraph {
      text-align: center;
    }
  }
  
  @media (max-width: 768px) {
    .flex-container {
      justify-content: center;
    }
    
    .blog-post {
      width: calc(100% - 20px);
      align-items: center;
      text-align: center;
    }
    
    .blog-image {
      width: 80%; /* Adjust the width as needed */
    }
    
    .blog-date,
    .blog-title,
    .blog-paragraph {
      text-align: center;
    }
  }

  /* STYLE FOR MOBILE FOR THE FOOTER IMAGE */

  @media (max-width: 767px) {
    .footer-image {
      width: 100%;
      max-width: 100%;
    }
  }
